{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script defer src="https://pyscript.net/alpha/pyscript.js"></script>
<title>CRUD RESTFUL</title>
</head>
<style>
    .col th+th[scope=col] { border-right: 1px dotted #666; }
    .row th+th[scope=row] { border-right: 1px dotted #666; }
    </style>
<body>
    <div class="container">
        <h1 class="top-2 py-3">Profile Manager Interface</h1>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th class="col text-center">Search profile and export csv file</th>
                    <th class="col text-center">Create new profile</th>
                    <th class="col text-center">Update or delete profile</th>
                </tr>
            </thead>

            <tbody id="forms">
            </tbody>

            <tfoot>
                <!-- TODO: el boton GO! va dentro de un template que se ejecuta dentro del main de pyscript - para poder eliminarlo cuando se cliquea -->
                <tr id="buttons">
                    <th class="col text-center">
                        <button type="button" class="btn btn-primary btn-sm" id="action">GO!</button>
                    </th>
                    <th class="col text-center">
                        <button type="button" class="btn btn-primary btn-sm" id="action">GO!</button>
                    </th>
                    <th class="col text-center">
                        <button type="button" class="btn btn-primary btn-sm" id="action">GO!</button>
                    </th>
                </tr>
            </tfoot>
        </table>

    </div>


    <template id="template-form">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <input href="#" class="btn btn-primary">make request</input>
            </div>
        </div>
    </template>
    
    
    <template id="template-buttons">
    </template>


    <py-script src="{% static 'script.py' %}"></py-script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>