{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->
<link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
<script defer src="https://pyscript.net/latest/pyscript.js"></script>
<title>CRUD RESTFUL</title>
<py-config>
    packages = ['numpy', 'pandas']
</py-config>


</head>
<style>
    .col th+th[scope=col] { border-right: 1px dotted #666; }
    .row th+th[scope=row] { border-right: 1px dotted #666; }
</style>
<body>
    {% csrf_token %}
    <div class="container">
        <h1 class="top-2 py-3">Profile Manager Interface</h1>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th class="col text-center">Search profile and export csv file</th>
                    <th class="col text-center">Create new profile</th>
                    <th class="col text-center">Update or delete profile</th>
                </tr>
            </thead>
            <tfoot>
                <tr id="buttons">
                    <th class="col text-center">
                        <button type="button" class="btn btn-primary btn-sm" id="read-download-form">GO!</button>
                    </th>
                    <th class="col text-center">
                        <button type="button" class="btn btn-primary btn-sm" id="create-form">GO!</button>
                    </th>
                    <th class="col text-center">
                        <button type="button" class="btn btn-primary btn-sm" id="update-delete-form">GO!</button>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="container">
        <div id="form-loc">
        </div>
        
        <div id="response-loc" class="py-2">
        </div>
    </div>
    

    <template id="template-form">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Titulo</h5>

                <center>
                    <div id="form">
                        
                    </div>
                </center>

            </div>
        </div>
    </template>

    <template id="template-search-response">
        <div class="card">
            <div class="card-body text-center">
                <h5>Estoy en la zona de resultados</h5>
                
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th> i </th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody id="response">
                    </tbody>
                </table>

                <div id="search-buttons" class="col text-right">
                </div>
                
            </div>
        </div>
    </template>

    <template id="template-update-response">
        <h5 class="text-center">Titulo</h5>
        <center>
            <div>
            </div>
        </center>
    </template>


    <template id="template-success-response">
        <div class="alert alert-success text-center" role="alert">
            <h5 class="text-center">Operation was successful!</h5>
        </div>
    </template>

    <template id="template-danger-response">
        <div class="alert alert-danger text-center" role="alert">
            <h5>Operation get errors!</h5>
            <p>Acá te cuento de que se te trata el <b>error</b></p>
        </div>
    </template>


    <py-script src="{% static 'script.py' %}"></py-script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>